h1
{
	border-style:solid none;
}
.div1
{
	border-style:solid;
	width:50px;
}
.div2
{
	border-style:dashed double dashed none;
	width:50px;
}
.div3
{
	border-style:solid;
	border-width:1px 1px 1px 5px;
	width:150px;
}
.div4
{
	border-style:dashed solid double;
	border-width:1px 1px 1px 5px;
	border-color:green blue red yellow;
	width:50px;
}
.div5
{
	border-style:outset;
	border-width:10px;
	border-color:green blue red yellow;
	width:150px;
}
.div6
{
	border-style:solid;
	border-radius:100px;
	width:20px;
}