.div1
{
	
	height:50px;
	width:50px;
	background-color:hotpink;
	float:left;
	clear:left;
	margin:15px;
}
.div2
{
	height:50px;
	width:50px;
	background-color:aqua;
	float:left;
	margin:15px;
}
.div3
{
	height:50px;
	width:50px;
	background-color:hotpink;
	float:left;
	margin:15px;
}